*.opensdf
*.sdf
*.ipch
*.suo
*.exp
*.ilk
*.pdb
*.iobj
*.ipdb
*.aps
*.user
*.tlog
*.obj
*.log
*.res
*.idb
*.pch
*.lastbuildstate
*.ncb

# Directories
ipch
Debug
Release

# Executables
*.exe

netstackdump
netstackdump_read
*.mov
*.mkv
*.avi
*.mp4

